<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="RegressionTest">
  <groups>
  
 <define name="s1SmokeBug">
 <include name="smoke"></include>
 <include name="bug"></include>
 </define>
 
 <run>
 <include name="smoke"></include>
 <include name="bug"></include>
 </run>
 

  
  </groups>
    <classes>
      <class name="basic.GroupsExample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
